@use '../../styles/default.scss';
@use '../../styles/var.scss';

#root{
    min-height: 100Vh;
    border-radius: 20px;
    background-color: var.$bgc-main;
    color: var.$txt-main;
}

.btn{
  display: block;
  width: 200px;
  padding: 1rem 1.2rem;
  border-radius: 20px;
  text-align: center;
  font-size: 1.5rem;
  &__main{
    background-color: var.$accent;
    &:hover{
      background-color: var.$active;
    }
  }
  &__important{
    background-color: var.$active;
    &:hover{
      background-color: var.$accent;
    }
  }
}

.container{
    margin: 0 auto;
    display: flex;
    max-width: 1400px;
    padding: 1rem 2rem;
}
.app-main{
  position: relative;
  padding-top: 1rem;
  z-index: 1;
}
@media screen and (max-width: 1400px) {
 .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
 .container {
    max-width: 992px;
  }
}

@media screen and (max-width: 992px) {
 .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
 .container {
    max-width: 576px;
  }
}

@media screen and (max-width: 576px) {
 .container {
    max-width: 320px;
  }
}