@use '../../styles/var.scss';

.page-contacts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    &-wrap{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2rem;
        .contacts-box-txt{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 2rem;
            table{
                caption{
                    padding: 1rem;
                    font-size: 2rem;
                    font-weight: 600;
                }
                tbody{
                    font-size: 1.2rem;
                    tr{
                        padding: 1rem;
                       .main-txt{
                            font-weight: 600;
                       }
                       td{
                            padding: .25rem;
                            text-align: center;
                       } 
                    }
                }
            }
        }
    }
}

