@use '../../styles/var.scss';

.page-contacts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    &-wrap{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2rem;
        .contacts-box-txt{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
}

