@use '../../styles/var.scss';

.app-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    a{
        font-style: italic;
        font-size: 1.5rem;
        &:hover{
            color: var.$accent;
        }
    }    
}