.about-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    &__subtitle{
        font-size: 3rem;
    }
    &__txt{
    font-size: 1.5rem;
    }
    &-start-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 2rem;
        padding-bottom: 2rem;
        &-txt{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 2rem;
            width: 700px;
        }
    }
    
}