.about-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    &__subtitle{
        font-size: 3rem;
    }
    &__txt{
    font-size: 1.5rem;
    }
    &-start-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 2rem;
        padding-bottom: 2rem;
        &-txt{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 2rem;
            width: 700px;
        }
    }
    &-skills{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
        margin-bottom: 4rem;
        &-items{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
        }
        &__item{
            img{
                width: 150px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
 .about-page{
        &-txt-box{
            width: 400px;
        }
        &__subtitle{
            font-size: 2rem;
        }
        &__txt{
            font-size: 1.5rem;
        }
        &__img{
            width: 300px;
        }
    }
}